body{
    font-family: 'Rubik Vinyl', cursive;
    font-size: 4rem;
    background-color: rgb(14, 64, 87);
}
.container{
    background-color: whitesmoke;
    color: rgb(14, 64, 87);
    margin: 5rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    text-align: center;
    margin-top: 25rem;
}
p{
    font-size: 3rem;
    font-weight: 900;
}
button{
    font-size: 2rem;
    padding: 20px;
    border-radius: 20px;
    color: whitesmoke;
    background-color: rgb(14, 64, 87);
}
@media screen and (max-width: 720px) {
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
}
/* @media screen and (min-width: 720px) {
    body {
      font-size: medium;
    }
  } */